{% extends "base.html" %}
{% load currency %}

{% extends "base.html" %}

<h1>Transaction #{{ transaction.pk }}</h1>
<h2>{{ transaction.description }} ({{ transaction.entered }})</h2>

<table border=1>
	<tr>
		<th>Confirmed</th>
		<th>Name</th>
		<th>Credit</th>
	</tr>
	{% for user_transaction in transaction.usertransaction_set.all %}
	<tr>
		<td align=center>
		{% if user_transaction.confirmed %}
			*
		{% else %}
			&nbsp;
		{% endif %}
		</td>
		<td>{{ user_transaction.user.get_full_name }} - {{ user_transaction.user.username }}</td>
		<td>{{ user_transaction.credit|currency }}</td>
	</tr>
	{% endfor %}
</table>

{% endblock %}
